<div class="section section-star-codes d-flex flex-column w-50">
    <h2 class="md-semi-bold-heading">Star Codes</h2>
    <p>Yesssss. You’ve got Stars in your hand. Enter your code here and we’ll add Stars to your account.</p>
    <form action="">
        <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    </form>
    <h2 class="md-semi-bold-heading">Questions?</h2>
</div>