<div class="section section-star-codes w-40 mx-auto">
    <div class="d-flex flex-column">
        <div class="pb-5">
            <h2 class="md-semi-bold-heading">Star Codes</h2>
            <p>Yesssss. You’ve got Stars in your hand. Enter your code here and we’ll add Stars to your account.</p>
            <form> 
                <div class="d-flex justify-content-between floating-control">
                    <div class="form-floating w-80">
                        <input type="text" class="form-control" id="starCodeInput">
                        <label for="starCodeInput">Enter your Star Code</label>
                    </div>
                    <button type="submit" class="button white-button w-15">Submit</button>
                </div>
            </form>
            <p>Have a receipt but don't have a code?</p>
            <p>Go to <a class="starbucks-link" href="https://starbucks-stars.com/"
                    target="_blank">starbucks-stars.com</a>
                opens in new window to upload your receipt and collect your Stars.</p>
        </div>
        <div >
            <h2 class="md-semi-bold-heading">Questions?</h2>
            <p>We want to help in any way we can. You can ask your barista anytime or we’ve answered the most commonly
                asked
                questions
                <a href="https://customerservice.starbucks.com/app/answers/list/p/552"
                    alt="link to customer service Q&A page" class="starbucks-link">right over here</a>.
            </p>
        </div>
    </div>
</div>