#starCodeInput {
    border: none;
    max-height: 1.5em;
    background-color: transparent;
}

.floating-control {
    border-bottom: lightgrey solid 2px;
    margin:0;
}

button[type=submit] {
max-height: 1em;
}