<div class="footer w-90 m-auto mb-5">
    <div class="d-flex">
        <div class="d-flex flex-column">
            <p class="xsm-semi-bold-heading">About us</p>
            <a href="https://www.starbucks.com/about-us/company-information" class="footer-link-light">Our Heritage</a>
            <a href="https://www.starbucks.com/coffee" class="footer-link-light">Our Coffee</a>
            <a href="https://stories.starbucks.com/" class="footer-link-light">Stories and News</a>
            <a href="https://investor.starbucks.com/" class="footer-link-light">Investor Relations</a>
            <a href="https://www.starbucks.com/responsibility/global-report/policies" class="footer-link-light">Policies
                and Standards</a>
            <a href="https://customerservice.starbucks.com/" class="footer-link-light">Customer Service</a>
        </div>
        <div class="d-flex flex-column">
            <p class="xsm-semi-bold-heading">Careers</p>
            <a href="https://www.starbucks.com/careers/working-at-starbucks/culture-and-values"
                class="footer-link-light">Culture and Values</a>
            <a href="https://stories.starbucks.com/stories/equity-inclusion/" class="footer-link-light">Inclusion,
                Diversity, and Equity</a>
            <a href="https://www.starbucks.com/careers/working-at-starbucks/education" class="footer-link-light">College
                Achievement Plan</a>
            <a href="https://www.starbucks.com/careers/" class="footer-link-light">U.S. Careers</a>
            <a href="https://www.starbucks.com/careers/international-careers" class="footer-link-light">International
                careers</a>
        </div>
        <div class="d-flex flex-column">
            <p class="xsm-semi-bold-heading">Social Impact</p>
            <a href="https://www.starbucks.com/responsibility/sourcing" class="footer-link-light">Ethical Sourcing</a>
            <a href="https://www.starbucks.com/responsibility/environment" class="footer-link-light">Leading in
                Sustainability</a>
            <a href="https://www.starbucks.com/responsibility/community" class="footer-link-light">Strengthening
                Communities</a>
            <a href="https://www.starbucks.com/responsibility/community/opportunity-youth"
                class="footer-link-light">Creating Opportunities</a>
            <a href="https://www.starbucks.com/responsibility/global-report" class="footer-link-light">Global Social
                Impact Report</a>
        </div>
        <div class="d-flex flex-column">
            <p class="xsm-semi-bold-heading">For Business Partners</p>
            <a href="https://www.starbucks.com/business/landlord-faq" class="footer-link-light">Landlord Support
                Center</a>
            <a href="https://www.starbucks.com/business/suppliers" class="footer-link-light">Suppliers</a>
            <a href="https://www.starbuckscardb2b.com/" class="footer-link-light">Corporate Gift Card Sales</a>
            <a href="https://www.starbucks.com/business" class="footer-link-light">Office and Foodservice Coffee</a>

        </div>
        <div class="d-flex flex-column">
            <p class="xsm-semi-bold-heading">Order and Pickup</p>
            <a href="https://www.starbucks.com/rewards/mobile-apps" class="footer-link-light">Order on the App</a>
            <a href="https://www.starbucks.com/menu" class="footer-link-light">Order on the Web</a>
            <a href="https://delivery.starbucks.com/" class="footer-link-light">Delivery</a>
            <a href="https://www.starbucks.com/ways-to-order" class="footer-link-light">Order and Pickup Options</a>
            <a href="https://athome.starbucks.com/?utm_source=starbucks.com&utm_medium=referral&utm_campaign=footer"
                class="footer-link-light">Explore and Find Coffee for Home</a>

        </div>
    </div>

    <hr />

    <!--icons-->
    <div class="d-flex mb-3">
        <a href="https://open.spotify.com/user/starbucks" class="footer-link-dark social-media" aria-label="Go to Starbucks on Spotify">
            <i class="fab fa-spotify fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://facebook.com/starbucks" class="footer-link-dark social-media" aria-label="Go to Starbucks on Facebook">
            <span class="fa-stack" aria-hidden="true">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="https://www.pinterest.com/starbucks/" class="footer-link-dark social-media" aria-label="Go to Starbucks on Pinterest">
            <span class="fa-stack" aria-hidden="true">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-pinterest-p fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="https://instagram.com/starbucks" class="footer-link-dark social-media" aria-label="Go to Starbucks on Instagram">
            <span class="fa-stack" aria-hidden="true">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="https://www.youtube.com/starbucks" class="footer-link-dark social-media" aria-label="Go to Starbucks on Youtube">
            <span class="fa-stack" aria-hidden="true">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="https://twitter.com/starbucks/" class="footer-link-dark social-media" aria-label="Go to Starbucks on Twitter">
            <span class="fa-stack" aria-hidden="true">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </div>

    <div class="d-flex flex-wrap mb-3">
        <a href="https://www.starbucks.com/about-us/company-information/online-policies/privacy-policy" class="footer-link-dark pe-2">Privacy Policy</a> | 
        <a href="https://www.starbucks.com/about-us/company-information/online-policies/terms-of-use" class="footer-link-dark px-2">Terms of Use </a> | 
        <a href="https://globalassets.starbucks.com/assets/A2A072E3411C4A6ABAEB8D6BCF286F43.pdf" class="footer-link-dark px-2"> CA Supply Chain Act </a> | 
        <a href="https://ideas.starbucks.com/" class="footer-link-dark px-2"> Submit your idea </a> | 
        <a href="#" class="footer-link-dark px-2"> Cookies Preferences </a>
    </div>
    <p class="text-muted">&copy; 2021 Starbucks Coffee Company. All rights reserved.</p>
</div>