<div class="section section-getting-started d-flex flex-column">
    <h2 class="md-semi-bold-heading">Getting started is easy.</h2>
    <p class="mb-5">Earn stars and get rewarded in a few easy steps.</p>
    <div class="d-flex">
      <div class="d-flex flex-column align-items-center">
        <div class="w-90">
          <img src="assets/images/getting-started/getting-started-1@2x.jpg" class="image-steps" />
        </div>
        <div class="w-90">
          <p class="xsm-semi-bold-heading">Create an account</p>
          <p>To get started, <a href="https://www.starbucks.com/account/create">join now</a>.
            You can also <a href="https://www.starbucks.com/rewards/mobile-apps">join in the app</a>
            to get access to the full range of Starbucks® Rewards benefits.</p>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <div class="w-90">
          <img src="assets/images/getting-started/getting-started-2@2x.jpg" class="image-steps" />
        </div>
        <div class="w-90">
          <p class="xsm-semi-bold-heading">Order and pay how you’d like</p>
          <p>Use cash, credit/debit card or save some time and pay right through the app. You’ll collect Stars all
            ways. <a href="/starbucks-angular/src/app/app.component.html">Learn how</a>.</p>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <div class="w-90">
          <img src="assets/images/getting-started/getting-started-3@2x.jpg" class="image-steps" />
        </div>
        <div class="w-90">
          <p class="xsm-semi-bold-heading">Earn Stars, get Rewards</p>
          <p>As you earn Stars, you can redeem them for Rewards—like free food, drinks, and more. Start redeeming
            with
            as little as 25 Stars!</p>
        </div>
      </div>
    </div>
  </div>
