<div class="d-flex flex-column">

  <section-header></section-header>

  <!--Banner-->
  <div class="banner">
    <p class="header text-upper text-bold pt-2 pb-4">Starbucks&reg; Rewards</p>
  </div>

  <div class="content">

    <section-join></section-join>

    <section-getting-started></section-getting-started>

    <section-favorites></section-favorites>

    <section-endless-extras></section-endless-extras>

    <section-payment-methods></section-payment-methods>

    <section-star-codes></section-star-codes>

    <section-information></section-information>

    <hr class="soft-line"/>

    <section-footer></section-footer>

  </div>
</div>