/* You can add global styles to this file, and also import other style files */
$primary-dark: #1e3932;
$primary-medium: #008248;
$primary-light: #d4e9e2;
$primary-lightest: #f1f8f6;
$base-grey: #f3f1e7;
$base-black: #000;
$gold: #cba258;

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    color: $base-black;
    background-color: $primary-lightest;
    font-family: "Montserrat", sans-serif !important;
}

.content {
    padding-top: 150px;
    background-color: white;
}

/* HEADER */

.header {
    background: $primary-dark;
    color: $primary-lightest;
    width: 100%;
    padding-left: 5rem;
}

.a:focus, button:focus {
    outline: $primary-medium solid 4px !important;
    box-shadow: none;
}


.tab,
.nav-tabs {
    overflow: hidden;

    &.tier-tab {
        display: flex;
        justify-content: space-around;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 36px 18px;

        &:hover,
        &:focus {
            color: $primary-medium;
        }

        &:focus {
            outline: $primary-medium 3px solid;
        }

        &.active {
            border-bottom: $primary-medium solid 5px;
        }
    }

    a.reward {
        background-color: inherit !important;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        color: $base-black;

        &:hover,
        &:focus {
            color: $primary-medium;
            border-bottom: $primary-medium solid 3px;
        }

        &.active {
            border-bottom: $primary-medium solid 3px;
        }
    }
}

.custom-tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: $primary-light;
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
}

.navbar-light {
    background-color: white !important;
}

.nav.navigation {
    height: 100px;
}

.logo {
    width: 55px;
    height: 55px;
    flex-shrink: 0;
}

.banner {
    position: fixed;
    top: 100px;
    width: 100%;
}

/* ********* */

.button {
    border-radius: 25px;
    padding: 9px 10px;
    font-weight: 700;

    &.white-button {
        color: $base-black;
        background-color: white;
        border-color: $base-black;
    }

    &.black-button {
        color: white;
        background-color: $base-black;
    }

    &.color-button {
        color: $primary-lightest;
        background-color: $primary-medium;
        border-color: $primary-medium;
    }
}

.text-upper {
    text-transform: uppercase;
}

.text-bold {
    font-weight: 700;
}

.font-size-xs {
    font-size: 0.7rem;
}

a.black-link {
    color: $base-black;
}

button.button-link {
    color: $primary-dark;

    &:hover {
        text-decoration: none;
        color: $primary-dark;
    }
}

hr.soft-line {
    color: grey;
    height: 3px;
    margin-bottom: 3rem;
}

.star-image {
    background-image: url("/assets/images/hero/xl-hero-desktop_2021.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
}

.star-text {
    padding: 100px;
    align-self: start;
    width: 30%;
}

.section {
    margin-bottom: 100px;

    &.section-join {
        background-color: $primary-light;
    }

    &.section-getting-started {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }

    &.section-favorites {
        text-align: center;
        background-color: $primary-lightest;
    }

    &.section-extras {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    &.section-payments {
        background-color: $base-grey;
        padding: 2rem;
    }

    &.section-information {
        background-color: #f7f7f7;
    }
}

.gold {
    color: $gold;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.xsm-semi-bold-heading {
    font-size: 1.2rem;
    font-weight: 550;
    padding-bottom: 1rem;
}

.sm-semi-bold-heading {
    font-size: 1.5rem;
    font-weight: 550;
}

.md-semi-bold-heading {
    font-size: 1.7rem;
    font-weight: 550;
}

.subtitle {
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
}

.image-steps {
    height: 50%;
    margin: auto;
}

.image-extras {
    max-width: 110px;
    margin: auto;
    margin-bottom: 1rem;
}

.carousel-indicators {
    li.custom-indicator {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: grey;

        &:active {
            background-color: black;
        }
    }
}

.carousel-control-next-icon {
    background-color: black;
}

.carousel-control-prev,
.carousel-control-next {
    top: auto;

    .fas {
        color: black;
        font-size: 1rem;
    }
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

a.starbucks-link {
    color: $primary-medium;
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:focus {
        border:$primary-medium solid 4px;
    }
}

.bc-white {
    background-color: white;
}
