<div class="section section-favorites">

    <h2 class="md-semi-bold-heading pt-5 pb-5">Get your favorites for free</h2>

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="tab tier-tab nav-tabs">
        <li [ngbNavItem]="1">
            <a ngbNavLink class="tablinks sm-semi-bold-heading reward">25 
                <i class="fas fa-star gold font-size-xs" aria-hidden="true"></i>
                <span class="sr-only">stars</span>
            </a>
            <ng-template ngbNavContent>
                <div class="custom-tabcontent py-2">
                    <div class="d-flex align-items-center  justify-content-around">
                        <div class="w-40">
                            <img src="assets/images/reward-tiers/025.png" class="img-fluid" alt="">
                        </div>
                        <div class="w-40">
                            <p class="pb-1 sm-semi-bold-heading">Customize your drink</p>
                            <p>Make your drink just right with an extra espresso shot, dairy substitute or a dash of
                                your favorite
                                syrup.</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink class="tablinks sm-semi-bold-heading reward">50 
                <i class="fas fa-star gold font-size-xs" aria-hidden="true"></i>
                <span class="sr-only">stars</span>
            </a>
            <ng-template ngbNavContent>
                <div class="custom-tabcontent">
                    <div class="d-flex align-items-center  justify-content-around">
                        <div class="w-40">
                            <img src="assets/images/reward-tiers/050.png" class="img-fluid" alt="">
                        </div>
                        <div class="w-40">
                            <p class="pb-1 sm-semi-bold-heading">Brewed hot coffee, bakery item or hot tea</p>
                            <p>Pair coffee cake or an almond croissant with your fresh cup of hot brew.</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <a ngbNavLink class="tablinks sm-semi-bold-heading reward">150
                <i class="fas fa-star gold font-size-xs" aria-hidden="true"></i>
                <span class="sr-only">stars</span>
            </a>
            <ng-template ngbNavContent>
                <div class="custom-tabcontent">
                    <div class="d-flex align-items-center justify-content-around">
                        <div class="w-40">
                            <img src="assets/images/reward-tiers/150.png" class="img-fluid" alt="">
                        </div>
                        <div class="w-40">
                            <p class="pb-1 sm-semi-bold-heading">Handcrafted drink, hot breakfast or parfait</p>
                            <p>Have a really good morning with a breakfast sandwich, oatmeal or your favorite drink.</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="4">
            <a ngbNavLink class="tablinks sm-semi-bold-heading reward">200 
                <i class="fas fa-star gold font-size-xs" aria-hidden="true"></i>
                <span class="sr-only">stars</span>
            </a>
            <ng-template ngbNavContent>
                <div class="custom-tabcontent">
                    <div class="d-flex align-items-center  justify-content-around">
                        <div class="w-40">
                            <img src="assets/images/reward-tiers/200.png" class="img-fluid" alt="">
                        </div>
                        <div class="w-40">
                            <h3 class="pb-1 text-bold">Salad, sandwich or protein box</h3>
                            <p>Nourish your day with a hearty Chipotle Chicken Wrap or Eggs & Cheese Protein Box.</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="5">
            <a ngbNavLink class="tablinks sm-semi-bold-heading reward">400 
                <i class="fas fa-star gold font-size-xs" aria-hidden="true"></i>
                <span class="sr-only">stars</span>
            </a>
            <ng-template ngbNavContent>
                <div class="custom-tabcontent">
                    <div class="d-flex align-items-center">
                        <img src="assets/images/reward-tiers/400.png" class="img-fluid w-40" alt="">
                        <div>
                            <h3 class="pb-1 text-bold">Select merchandise or at-home coffee</h3>
                            <p>Take home a signature cup, a bag of coffee or your choice of select coffee accessories.
                            </p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
</div>